.right-log {
    background-color: #3498db;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
  }
  
  .title-log {
    color: #fff;
  }
  
  .butons {
    margin-top: 15px;
  }
  
  .bot {
    background-color: coral;
    color: #fff;
    margin-right: 10px;
  }